<%= render 'navbars/navbar' %>

<div class="row" style="margin-top: 0px;">
  <%= render 'navbars/sidebar' %>
  <div class="col s10">
    <h1 id="current-group" data-value="<%= @team.groups.find_by(slug: 'general').id %>" class="center">
      General
    </h1>
    <div id="chat" class="input-field col offset-m1 m10 s12" style="overflow: auto; height: 30em; border: 0.08em solid #4caf50;"></div>

    <div class="container">
      <%= form_with model: Message.new, remote: true do |form| %>
        <div class="input-field">
          <%= form.text_area :body, class: 'materialize-textarea', placeholder: 'New message' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
