<nav class="green lighten-1">
  <div class="nav-wrapper">
    <%= link_to root_path, class: 'brand-logo', data: { turbolinks: false } do %>
      MyChat <span class="material-icons">message</span>
    <% end %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="modal-trigger" data-target="new-team-modal">New Team</a>
      </li>
      <li>
        <a class="dropdown-trigger" href="#" data-target="dropdown1">My teams<i class="material-icons right">arrow_drop_down</i></a>
      </li>
      <li>
        <%= link_to "Perfil", edit_user_registration_path(current_user) %>
      </li>
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <%= link_to "Perfil", edit_user_registration_path(current_user) %>
  </li>
  <li>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </li>
</ul>


<ul id="dropdown1" class="dropdown-content">
  <% current_user.my_teams.each do |team| %>
    <li>
      <%= link_to team.slug, show_team_path(slug: team.slug), data: { turbolinks: false } %>
    </li>
  <% end %>
  <li class="divider"></li>
</ul>

<%= render 'teams/destroy_modal' %>
<%= render 'team_users/pending_modal' %>
