<div class="col s2">
  <h5 class="center">
    Teams
  </h5>
  <hr>
  <ul class="" style="margin-top: 0px;">
    <% current_user.my_teams.each do |team| %>
      <li class="center">
        <% if params[:slug] == team.slug %>
          <%= link_to team.slug, show_team_path(team.slug), class: 'green-text', data: { turbolinks: false } %>
        <% else %>
          <%= link_to team.slug, show_team_path(team.slug), data: { turbolinks: false } %>
        <% end %>
        <% if team.owner == current_user %>
          <a href="#destroy-team-modal" class="red-text right destroy-team modal-trigger" data-value='<%= team.id %>'>Destroy</a>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>

  <div class="center">
    <a href="#" data-target="team-groups" class="black-text center dropdown-trigger">
      <h5>
        Groups
        <span class="material-icons">
          arrow_drop_down
        </span>
      </h5>
    </a>

    <ul id='team-groups' class='dropdown-content'>
      <% Team.includes(:groups).find_by(slug: params[:slug]).groups.each do |group| %>
        <li class="center" id="group-<%= group.id%>">
          <span class='group-slug'><%= group.slug %></span>
          <% if group.owner_id == current_user.id %>
            <!-- <a href="#destroy-group-modal" class="red-text modal-trigger destroy-group" data-value="<%= group.id %>">Destroy</a> -->
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <hr>
  <div class="center">
    <button class="btn modal-trigger" data-target="new-group-modal">
      New group
    </button>
  </div>

  <hr>

  <div class="center">
    <h5>Members</h5>
    <ul>
      <li>
        <span class="green-text">
          <%= @team.owner.name %>
        </span>
      </li>
      <% @team.users.each do |user| %>
        <li>
          <%= user.name %>
        </li>
      <% end %>
    </ul>

    <button class="btn blue">
      Add memeber
    </button>
  </div>


</div>

<%= render 'groups/new_modal' %>
<%= render 'groups/destroy_modal' %>
